*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: arabFont;
    src: url(public/Kufam-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Bungee Spice";
    src: url(public/BungeeSpice-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 50%, rgb(70, 146, 245) 100%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue',
        sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock {
    width: 750px;
    height: 750px;
    border-radius: 50%;
    /* border: 2mm ridge #889700c7; */
    /* border: 9px solid #970014c7; */
    position: relative;
    background: #000000;
}

.clock .fondEcr {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.clock .fond {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
    bottom: 25%;
    font-size: 60px;
    border: 1px solid #3590d8;
    border-radius: 50%;
    opacity: .8;
    animation: pivot 600s infinite;
}

.clock .youm,
.clock .jour,
.clock .dday {
    position: absolute;
    text-align: center;
    width: 80%;
    height: 80%;
    bottom: 10%;
    left: 10%;
    font-family: arabFont;
    font-size: 1.3em;
    border-radius: 50%;
    opacity: .9;
}

.clock .youm {
    font-size: 1.6em;
    color: #e54a12;
    transform: rotate(38deg);
}

.clock .jour {
    color: #d2d340;
    border-radius: 50%;
    transform: rotate(90deg);
}

.clock .dday {
    color: #5cc9f7;
    border-radius: 50%;
    transform: rotate(142deg);
}

/* .datar {
    position: absolute;
    left: 40.5%;
    top: 28.7%;
    font-size: 1.15em;
    text-align: center;
    color: #00BCD4;
    padding: 2px 21px;
    border: 1px solid #d84a2f7a;
    border-radius: 1.5em;
} */
/* 
.datfr {
    position: absolute;
    left: 41.8%;
    top: 67.2%;
    font-size: 1.05rem;
    text-align: center;
    color: #d06130;
    padding: 2px 20px;
    border: 1px solid #3590d8;
    border-radius: 1.5em;
} */

.calend {
    font-family: arabFont;
    font-size: 1.9rem;
    text-align: center;
}

.calend .jj {
    --rotation: 0;
    position: absolute;
    left: 19%;
    bottom: 19%;
    width: 62%;
    height: 62%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    color: #9caee6;
    border-radius: 50%;
    color: rgb(156, 119, 192);
    text-decoration: underline;
    transform: rotate(calc(var(--rotation) * 6deg));
}

.calend .jj.ar {
    font-weight: bolder;
    /* animation: transparence 6s 3s ease-in infinite; */
}

.calend .mm {
    --rotation: 0;
    position: absolute;
    width: 84%;
    height: 84%;
    color: #9caee6;
    text-align: center;
    border-radius: 50%;
    left: 8%;
    bottom: 8%;
    transform: rotate(calc(var(--rotation) * 6deg));
    /* animation: transparence 6s ease-in infinite; */
}

.clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid rgb(225, 225, 111);
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 6deg));

}


.clock .hand.hour {
    width: 16px;
    height: 41%;
    background-color: #fa8b3ca7;
    /* border: 1px solid #35c5d8; */
}

.clock .hand.minute {
    width: 13px;
    height: 30%;
    background-color: #4b96d3aa;
    /* border: 1px solid #f18334 */
}

.clock .hand.second {
    width: 4px;
    height: 24.7%;
    background-color: rebeccapurple;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
    --contenu: 'ferh@t';
    content: var(--contenu);
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    color: #ff0000;
    background-color: rgb(255, 255, 196);
    text-align: center;
    font-size: 0.7em;
    font-weight: lighter;
    padding: 12px 0px;
    transform: translate(-50%, -50%);
}

/* .clock .txt {
    position: absolute;
    width: 33%;
    height: 52%;
    left: 34%;
    bottom: 2%;
    border: 3px solid black;
    color: #ffffff94;
    border-radius: 50%;
    font-size: 10px;
} */

@keyframes pivot {
    to {
        transform: rotate(-360deg);
    }
}