*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: arabFont;
    src: url(static/css/Bungee_Spice,Courgette,Kufam,Orbitron/Kufam/Kufam-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Bungee Spice";
    src: url(static/css/Bungee_Spice,Courgette,Kufam,Orbitron/Bungee_Spice/BungeeSpice-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #000, #000000);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue',
        sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock {
    width: 750px;
    height: 750px;
    /* background-color: linear-gradient(to top, #000, #ffdbb4); */
    border-radius: 50%;
    border: 3mm ridge #889700c7;
    position: relative;
    background: #000000;
}

.clock .afond {
    position: absolute;
    width: 100%;
    height: 100%;
    /* left: 25%;
    bottom: 25%; */
    /* border: 3px solid black; */
    border-radius: 50%;
    opacity: 0.12;
    transform: rotate(-2.3deg);
}

.clock .afond.bis {
    transform: rotate(13deg);
    opacity: 0.25;
}

.clock .fond {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
    bottom: 25%;
    font-size: 60px;
    border: 1px solid #3590d8;
    border-radius: 50%;
    animation: pivot 1200s infinite;
}

.verre {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
    bottom: 25%;
    background-color: rgb(194 218 32 / 45%);
    /* border: 3px solid #ffffdc85; */
    border-radius: 50%;
    cursor: pointer;
    animation: transparence 5s ease infinite;
}

.clock .number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    /* color: #3e009f; */
    text-align: center;
    font-size: 3.2rem;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    /* font-style: oblique; */
    transform: rotate(var(--rotation));
    opacity: .85;
}

.p {
    color: #444d32;
    text-decoration: underline;
}

.clock .number1 {
    --rotation: 15deg
}

.clock .number2 {
    --rotation: 30deg
}

.clock .number3 {
    --rotation: 45deg
}

.clock .number4 {
    --rotation: 60deg
}

.clock .number5 {
    --rotation: 75deg
}

.clock .number6 {
    --rotation: 90deg
}

.clock .number7 {
    --rotation: 105deg
}

.clock .number8 {
    --rotation: 120deg
}

.clock .number9 {
    --rotation: 135deg
}

.clock .number10 {
    --rotation: 150deg
}

.clock .number11 {
    --rotation: 165deg
}

.clock .number12 {
    --rotation: 180deg;
}

.clock .number13 {
    --rotation: 195deg
}

.clock .number14 {
    --rotation: 210deg
}

.clock .number15 {
    --rotation: 225deg
}

.clock .number16 {
    --rotation: 240deg
}

.clock .number17 {
    --rotation: 255deg
}

.clock .number18 {
    --rotation: 270deg
}

.clock .number19 {
    --rotation: 285deg
}

.clock .number20 {
    --rotation: 300deg
}

.clock .number21 {
    --rotation: 315deg
}

.clock .number22 {
    --rotation: 330deg
}

.clock .number23 {
    --rotation: 345deg
}

.clock .mn {
    --rot: 0;
    position: absolute;
    width: 70%;
    height: 70%;
    color: #9caee6;
    /* background-color: #00c2ff0a; */
    border: .5mm ridge #a3b519d6;
    text-align: center;
    border-radius: 50%;
    left: 15%;
    bottom: 15%;
    transform: rotate(var(--rot));
    font-size: 1.4rem;
}

.clock .mn.pp {
    color: #d66719;
    text-decoration: underline;
    font-weight: bold;
    /* text-decoration-color: #d66719; */
}

.clock .mn.fof {
    color: #1973d6;
    text-decoration: underline;
    font-weight: bold;
    /* text-decoration-color: #d66719; */
}

.clock .youm,
.clock .jour,
.clock .dday {
    position: absolute;
    text-align: center;
    width: 80%;
    height: 80%;
    bottom: 10%;
    left: 10%;
    font-family: arabFont;
    font-size: 1.3em;
    border-radius: 50%;
    opacity: .9;
}

.clock .youm {
    font-size: 1.6em;
    color: #e54a12;
    transform: rotate(30deg);
}

.clock .jour {
    color: #d2d340;
    border-radius: 50%;
    transform: rotate(90deg);
}

.clock .dday {
    color: #1973d6;
    border-radius: 50%;
    transform: rotate(150deg);
}

.datar {
    position: absolute;
    left: 42.5%;
    top: 28.7%;
    text-align: center;
    color: #00BCD4;
    /* background-color: #08361524; */
    padding: 2px 21px;
    border: 1px solid #d84a2f7a;
    border-radius: 1.5em;
}

.datfr {
    position: absolute;
    left: 42.5%;
    top: 67.7%;
    font-size: .85em;
    text-align: center;
    color: #CDDC39;
    /* background-color: #08361524; */
    padding: 2px 21px;
    border: 1px solid #d84a2f7a;
    border-radius: 1.5em;
}

.calend {
    font-family: arabFont;
    font-size: 1.9rem;
    text-align: center;
}

.calend .jj {
    --rotation: 0;
    position: absolute;
    width: 62%;
    height: 62%;
    font-size: 1.2rem;
    color: #9caee6;
    text-decoration: underline;
    border-radius: 50%;
    left: 19%;
    bottom: 19%;
    transform: rotate(calc(var(--rotation) * 6deg));
    /* animation: transparence 2s 0.15s ease-out infinite; */
}

.calend .jj.ar {
    --rotation: 0;
    position: absolute;
    width: 62%;
    height: 62%;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #9caee6;
    /* color: #9caee6; */
    text-decoration: underline;
    border-radius: 50%;
    left: 19%;
    bottom: 19%;
    transform: rotate(calc(var(--rotation) * 6deg));
    /* animation: transparence 2s 0.15s ease-out infinite; */
}

.calend .mm {
    --rotation: 0;
    position: absolute;
    width: 84%;
    height: 84%;
    color: #9caee6;
    /* font-size: 1.4rem; */
    /* border: 2px solid #c0c3d778; */
    /* background-color: #00c2ff21; */
    text-align: center;
    border-radius: 50%;
    left: 8%;
    bottom: 8%;
    transform: rotate(calc(var(--rotation) * 6deg));
    animation: transparence 2s 1s ease-in infinite;
}

.clock .cl {
    /* color: #7cff61; */
    color: #fff500ed;
}

.clock .pt1 {
    --rot: -6deg
}

.clock .pt2 {
    --rot: -12deg
}

.clock .pt3 {
    --rot: -18deg
}

.clock .pt4 {
    --rot: -24deg
}

.clock .mn5 {
    --rot: -30deg
}

.clock .pt6 {
    --rot: -36deg
}

.clock .pt7 {
    --rot: -42deg
}

.clock .pt8 {
    --rot: -48deg
}

.clock .pt9 {
    --rot: -54deg
}

.clock .mn10 {
    --rot: -60deg
}

.clock .pt11 {
    --rot: -66deg
}

.clock .pt12 {
    --rot: -72deg
}

.clock .pt13 {
    --rot: -78deg
}

.clock .pt14 {
    --rot: -84deg
}

.clock .mn15 {
    --rot: -90deg
}

.clock .pt16 {
    --rot: -96deg
}

.clock .pt17 {
    --rot: -102deg
}

.clock .pt18 {
    --rot: -108deg
}

.clock .pt19 {
    --rot: -114deg
}

.clock .mn20 {
    --rot: -120deg
}

.clock .pt21 {
    --rot: -126deg
}

.clock .pt22 {
    --rot: -132deg
}

.clock .pt23 {
    --rot: -138deg
}

.clock .pt24 {
    --rot: -144deg
}

.clock .mn25 {
    --rot: -150deg
}

.clock .pt26 {
    --rot: -156deg
}

.clock .pt27 {
    --rot: -162deg
}

.clock .pt28 {
    --rot: -168deg
}

.clock .pt29 {
    --rot: -174deg
}

.clock .mn30 {
    --rot: -180deg
}

.clock .pt31 {
    --rot: -186deg
}

.clock .pt32 {
    --rot: -192deg
}

.clock .pt33 {
    --rot: -198deg
}

.clock .pt34 {
    --rot: -204deg
}

.clock .mn35 {
    --rot: -210deg
}

.clock .pt36 {
    --rot: -216deg
}

.clock .pt37 {
    --rot: -222deg
}

.clock .pt38 {
    --rot: -228deg
}

.clock .pt39 {
    --rot: -234deg
}

.clock .mn40 {
    --rot: -240deg
}

.clock .pt41 {
    --rot: -246deg
}

.clock .pt42 {
    --rot: -252deg
}

.clock .pt43 {
    --rot: -258deg
}

.clock .pt44 {
    --rot: -264deg
}

.clock .mn45 {
    --rot: -270deg
}

.clock .pt46 {
    --rot: -276deg
}

.clock .pt47 {
    --rot: -282deg
}

.clock .pt48 {
    --rot: -288deg
}

.clock .pt49 {
    --rot: -294deg
}

.clock .mn50 {
    --rot: -300deg
}

.clock .pt51 {
    --rot: -306deg
}

.clock .pt52 {
    --rot: -312deg
}

.clock .pt53 {
    --rot: -318deg
}

.clock .pt54 {
    --rot: -324deg
}

.clock .mn55 {
    --rot: -330deg
}

.clock .pt56 {
    --rot: -336deg
}

.clock .pt57 {
    --rot: -342deg
}

.clock .pt58 {
    --rot: -348deg
}

.clock .pt59 {
    --rot: -354deg
}

.clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 6deg));
}

.clock .hand.hour {
    width: 19px;
    height: 42%;
    /* background-color: #a4aac6; */
    border: 3px solid #d66719
}

.clock .hand.minute {
    width: 15px;
    height: 31%;
    /* background-color: #233890; */
    border: 3px solid #3590d8;
}

.clock .hand.second {
    width: 3px;
    height: 35%;
    /* background-color: #efa073; */
    background-color: #eadf6bb7;
    /* background-color: #d66719; */
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    /* z-index: -1; */
}

.clock .annee {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 48.4%;
    left: 47.3%;
    border-radius: 50%;
    color: #9caee6;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    z-index: 1;
    animation: transparence 2s ease-in-out infinite;
}

.clock::after {
    --contenu: 'ferh@t';
    content: var(--contenu);
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    color: #000000;
    /* background-color: #233890; */
    background-color: #e5ed1b;
    /* border: 3px solid #233890; */
    text-align: center;
    font-size: 0.7em;
    font-weight: lighter;
    padding: 9px 0px;
    transform: translate(-50%, -50%);
}

/* .clock .txt {
    position: absolute;
    width: 33%;
    height: 52%;
    left: 34%;
    bottom: 2%;
    border: 3px solid black;
    color: #ffffff94;
    border-radius: 50%;
    font-size: 10px;
} */

@keyframes transparence {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

@keyframes pivot {
    0% {
        rotate: 0deg;
        /* bottom: 24.8%; */
    }

    100% {
        rotate: 360deg;
        /* bottom: 25%; */
    }
}